/* divs inside green bg*/
div {
  border: 1px solid black;
}

.topLeftDiv {
  text-align: left;
}

.bottomLeftDiv {
  text-align: left;
}

.homeMainDiv {
  display: flex;

  padding-left: 100px;
  margin-top: 4%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #deedd6;
  /* border: 1px solid black; */
  color: #707070;
}

.map {
  width: auto;
  height: 200px;
  padding-right: 30px;
}

.leftSide {
  width: 600px;
}
