.signUpMainDiv {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 500px;
  margin-top: 4vh;
}

.loginCard {
  justify-content: center;
  background-color: white;
  max-height: 400px;
  margin-top: 4vh;
  border: none;
}

.signUpCard {
  /* border: 1px solid black; */
  color: #707070;
  width: 400px;
  box-shadow: 10px 10px 5px whitesmoke;

  height: 500px;
}

.signIn {
  margin-top: 10vh;
  font-size: 30px;
  color: #339615;
  margin-bottom: 5vh;
}
.submitSI {
  margin-top: 20px;
  padding: 6px 10px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #7bed8d;
  font-weight: 550;
  width: 80%;
}

/*form input boxes */
.nameBox {
  padding-right: 110px;
  background-color: #f0f4f8;
  border: none;
  border-radius: 2px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 5px;
  color: blue;
  font-weight: 500;
}
